{% extends '_base.html' %}
{% block content %}
<aside>
    <H1 class="main">
        Find Your Next Room Mate Right Here<strong>  [Name Tk]! </strong>
    </H1>
    <p id="info">
        In this website you will be able to create a roomate profiles, expore and find new people looking for roommates, and message them. This 
        website allows you to find your next roommate in an exciting tinder style way!
        Email us  <a href="mailto:har58@pitt.edu?subject=Suggestion for thefuture of finding roommates!">Here</a>              
         for any suggestions!
    </p>
</aside>
<aside>
<H1 class="">
    A problem We're all too Familiar With!
</H1>

<div  id="CollegeStory1">“There was a time in the spring when it got very hot and my roommates had just gotten a couple of hermit crabs.
     They insisted on keeping the room at 80 degrees because if it was any colder, it would ‘hurt the hermies’ (their words, not mine).
     I couldn’t tell the R.A. because I didn’t want to rat on them, so I had to suffer through the heat.” <br> &#8212 
     <a href="https://www.seventeen.com/life/real-girl-stories/a22132646/worst-roommate-horror-stories/"> Sarah, 19</a> </div>
<div  id="CollegeStory2">“My freshman year, my roommate used to tweet about me all semester long. She never left the room and legitimately tweeted over 50 times about me and my friend, and whatever we were talking about. 
    She even posted a 17-minute voice memo of us once. It became a thing for my friend and I to check her tweets every morning to see if she wrote about us.
     She never knew that we found out. #ChroniclesOfTheDrunkVariety if you’re interested.” <br>&#8212 <a href="https://www.seventeen.com/life/real-girl-stories/a22132646/worst-roommate-horror-stories/">Stephanie, 21</a></div>

    </aside>
    <aside>    
     <H1 class="">
       Meet The Founders!
    </H1>
<nav id="images">
    <ul> <!-- use Flask templates and dictionary to display list of people and images -->
        {% for name in names %}
        <li>
            <img src="{{ name }}" alt="/static/images/{{ name }}"></a>
        </li>
        {% endfor %}
    </ul>
</nav>
</aside>
{% endblock %}