{% extends '_base.html' %}
{% block content %}
<aside>
    <H1 class="main">
        Join our mailing list and know when we're live!
    </H1>
    <aside> 
        <form method="get" action="emailsubmission">
        <H3 style = "padding-top: 5%;padding-bottom: 1%;clear: both;">
            Enter Your Name
        </H3>

        <div style="padding-inline:1%;">
            <input name="name" type="text">
        </div>
        
            <H3 style = "padding-top: 5%;padding-bottom: 1%;clear: both;">
                Enter Your Email Address
            </H3>
            <div style="padding-inline:1%;">
                <input name="email" type="email">
            </div>
            <div style= "padding-top:5%;">
                <input type = submit> 
                </div>
        </form>
</aside>
{% endblock %}
