{% extends '_base.html' %}
{% block content %}
<aside>
    <H1>
        Please Enter Your Credentials To Login!
    </H1>
    <aside>
        <form method="post" action="/loginpost">
            <H3 style = "padding-top: 5%;padding-bottom: 1%;clear: both;">
                Enter Your Email
            </H3>
    
            <div style="padding-inline:1%;">
                <input name="email" type="email">
            </div>

            <H3 style = "padding-top: 5%;padding-bottom: 1%;clear: both;">
                Enter Your Password
            </H3>
    
            <div style="padding-inline:1%;">
                <input name="password" type="text">
            </div>

            <div style= "padding-top:5%;">
                <input type = submit> 
                </div>
        </form>
    </aside>
</aside>
{% endblock %}